* {
    border: none;
    border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font Propo";
    font-size: 12px;
    min-height: 10px;
}

window#_objs_waybar {
    background: rgba(0, 0, 0, 0.77);
    border-radius: 0;
}

window#_objs_waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}

#workspaces {
    margin-top: 3px;
    margin-left: 12px;
    font-size: 4px;
    margin-bottom: 3px;
    border-radius: 10px;
    background: #161320;
    transition: none;
}

#workspaces button {
    transition: none;
    color: #B5E8E0;
    background: transparent;
    font-size: 14px;
    border-radius: 2px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

#workspaces button:not(.active):not(.empty) {
    transition: none;
    color: #F28FAD;
    background: transparent;
    font-size: 4px;
}

#workspaces button.active {
    color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}

#workspaces button.active:hover {
    color: #E8A2AF;
}

#battery {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #B5E8E0;
}

#battery.charging, #battery.plugged {
    color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#clock.time {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #F8BD96;
}

#clock.date {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #ABE9B3;
}

#memory {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 3px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #DDB6F2;
}

#cpu {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 3px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #96CDFB;
}

#tray {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 3px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #B5E8E0;
    background: #161320;
}

#custom-launcher {
    font-size: 20px;
    margin-top: 3px;
    margin-left: 8px;
    margin-bottom: 3px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #89DCEB;
    background: #161320;
}

#custom-power {
    font-size: 18px;
    margin-top: 3px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 5px;
    margin-bottom: 3px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #F28FAD;
}

#custom-updates {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #E8A2AF;
}

#custom-email {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #F28FAD;
}

#custom-disk {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 3px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #F5C2E7;
}

#network {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 12px;
    padding-right: 10px;
    margin-bottom: 3px;
    margin-right: 0;
    border-radius: 10px 0 0 10px;
    transition: none;
    color: #161320;
    background: #89DCEB;
}

#language {
    margin-top: 3px;
    margin-left: 0;
    padding-left: 5px;
    padding-right: 4px;
    margin-bottom: 3px;
    margin-right: 0;
    border-radius: 0;
    transition: none;
    color: #161320;
    background: #89DCEB;
}

#pulseaudio {
    margin-top: 3px;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-radius: 0 10px 10px 0;
    transition: none;
    color: #161320;
    background: #89DCEB;
}

#temperature {
    margin-top: 3px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #FAE3B0;
}

#temperature.critical {
    background-color: #BF616A;
    color: #B5E8E0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
